@tailwind base;
@tailwind components;
@tailwind utilities;

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(39, 38, 38);
    color: white;
    
}
a{
    text-decoration: none;
    color: white;
}